[Service]
ExecStart=
ExecStart=/usr/bin/docker daemon -H fd:// -H=0.0.0.0:{{ docker_daemon_port }} --tlsverify --tlscacert=/etc/docker/certs/ca.pem --tlscert=/etc/docker/certs/cert.pem --tlskey=/etc/docker/certs/key.pem {{ docker_daemon_extra_args }}
